// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; *behavior: url(boxsizing.htc); }
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* !Defaults */
.gridlock .row { margin-left: auto; margin-right: auto; width: 960px; /* Fallback */ }
.gridlock .row:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.gridlock .row .row { margin-left: -1.0416666666666667%; margin-right: -1.0416666666666667%; width: 102.0833333333333334%; }
.gridlock .row [class*="desktop-"] { float: left; margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
.gridlock .row [class*="desktop-"].right { float: right; }
.gridlock .row [class*="desktop-"].padded { margin-left: 0; margin-right: 0; padding-left: 1.0416666666666667%; padding-right: 1.0416666666666667%; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; *behavior: none; }
.cust{ display:none}

/* !Rows, Widest to Thinest */
@media screen and (min-width: 1220px) {
  .gridlock .row { width: 1200px; }
}
@media screen and (max-width: 1220px) {
  .gridlock .row { width: 960px; }
}
@media screen and (max-width: 980px) {
  .gridlock .row { width: 720px; }
}
@media screen and (max-width: 770px) {
  .mobile-fixed{display:block;}
  .gridlock .row { width: 480px; }
}
@media screen and (max-width: 500px) {
  .gridlock .row { width: 300px; }
}

.gridlock-fluid .row {
  width: 98%;
}

/* !Desktop - Default, 12 column, 1220 + 960 (min 980), IE Standard */
.gridlock .row .desktop-1  { width: 6.25%; }
.gridlock .row .desktop-2  { width: 14.5833333333333333%; }
.gridlock .row .desktop-3  { width: 22.9166666666666667%; }
.gridlock .row .desktop-4  { width: 31.25%; }
.gridlock .row .desktop-5  { width: 39.5833333333333333%; }
.gridlock .row .desktop-6  { width: 47.9166666666666667%; }
.gridlock .row .desktop-7  { width: 56.25%; }
.gridlock .row .desktop-8  { width: 64.5833333333333333%; }
.gridlock .row .desktop-9  { width: 72.9166666666666667%; }
.gridlock .row .desktop-10 { width: 81.25%; }
.gridlock .row .desktop-11 { width: 89.5833333333333333%; }
.gridlock .row .desktop-12 { width: 97.9166666666666667%; }
.gridlock .row .desktop-10p {width: 10%; margin: 0 !important; }
.gridlock .row .desktop-90p {width: 90%; margin: 0 !important; }
.prod-first {margin-left: 17.2% !important;}

/* Push Cells */
.gridlock .row .desktop-push-1  { margin-left: 9.375%; }
.gridlock .row .desktop-push-2  { margin-left: 17.7083333333333333%; }
.gridlock .row .desktop-push-3  { margin-left: 26.0416666666666667%; }
.gridlock .row .desktop-push-4  { margin-left: 34.375%; }
.gridlock .row .desktop-push-5  { margin-left: 42.7083333333333334%; }
.gridlock .row .desktop-push-6  { margin-left: 51.0416666666666667%; }
.gridlock .row .desktop-push-7  { margin-left: 59.375%; }
.gridlock .row .desktop-push-8  { margin-left: 67.7083333333334%; }
.gridlock .row .desktop-push-9  { margin-left: 76.0416666666668%; }
.gridlock .row .desktop-push-10 { margin-left: 84.375%; }
.gridlock .row .desktop-push-11 { margin-left: 92.7083333333335%; }

/* Center Cells */
.gridlock .row [class*="desktop-"].center { margin-left: auto; margin-right: auto; }

/* !Generic, fractions */
.gridlock .row .desktop-third { width: 31.25%; }
.gridlock .row .desktop-half { width: 47.9166666666666667%; }
.gridlock .row .desktop-full { width: 97.9166666666666667%; }

.gridlock .row .desktop-push-third { margin-left: 34.375%; }
.gridlock .row .desktop-push-half { margin-left: 51.0416666666666667%; }
.gridlock .row .desktop-none { display: none; }

/* !Desktop - Max, 12 column, 1200 (min 1221) */
@media screen and (min-width: 1221px) {
  .gridlock .row .max-1  { width: 6.25%; }
  .gridlock .row .max-2  { width: 14.5833333333333333%; }
  .gridlock .row .max-3  { width: 22.9166666666666667%; }
  .gridlock .row .max-4  { width: 31.25%; }
  .gridlock .row .max-5  { width: 39.5833333333333333%; }
  .gridlock .row .max-6  { width: 47.9166666666666667%; }
  .gridlock .row .max-7  { width: 56.25%; }
  .gridlock .row .max-8  { width: 64.5833333333333333%; }
  .gridlock .row .max-9  { width: 72.9166666666666667%; }
  .gridlock .row .max-10 { width: 81.25%; }
  .gridlock .row .max-11 { width: 89.5833333333333333%; }
  .gridlock .row .max-12 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .max-push-1  { margin-left: 9.375%; }
  .gridlock .row .max-push-2  { margin-left: 17.7083333333333333%; }
  .gridlock .row .max-push-3  { margin-left: 26.0416666666666667%; }
  .gridlock .row .max-push-4  { margin-left: 34.375%; }
  .gridlock .row .max-push-5  { margin-left: 42.7083333333333334%; }
  .gridlock .row .max-push-6  { margin-left: 51.0416666666666667%; }
  .gridlock .row .max-push-7  { margin-left: 59.375%; }
  .gridlock .row .max-push-8  { margin-left: 67.7083333333334%; }
  .gridlock .row .max-push-9  { margin-left: 76.0416666666668%; }
  .gridlock .row .max-push-10 { margin-left: 84.375%; }
  .gridlock .row .max-push-11 { margin-left: 92.7083333333335%; }
}

@media screen and ( min-width: 980px ) {

  .gridlock .row .contained.desktop-1 {
    width: 8.33333333%;
  }
  .gridlock .row .contained.desktop-2 {
    width: 16.66666667%;
  }
  .gridlock .row .contained.desktop-3 {
    width: 25%;
  }
  .gridlock .row .contained.desktop-4 {
    width: 33.33333333%;
  }
  .gridlock .row .contained.desktop-5 {
    width: 41.66666667%;
  }
  .gridlock .row .contained.desktop-6 {
    width: 50%;
  }
  .gridlock .row .contained.desktop-7 {
    width: 58.33333333%;
  }
  .gridlock .row .contained.desktop-8 {
    width: 66.66666667%;
  }
  .gridlock .row .contained.desktop-9 {
    width: 75%;
  }
  .gridlock .row .contained.desktop-10 {
    width: 83.33333333%;
  }
  .gridlock .row .contained.desktop-11 {
    width: 91.66666667%;
  }
  .gridlock .row .contained.desktop-12 {
    width: 100%;
  }
}

/* !Tablet, 6 column, 720 (min 739) */
@media screen and (min-width: 770px) and (max-width: 980px) {
  .gridlock .row [class*="desktop-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

  .gridlock .row .tablet-1 { width: 14.5833333333333333%; }
  .gridlock .row .tablet-2 { width: 31.25%; }
  .gridlock .row .tablet-3 { width: 47.9166666666666667%; }
  .gridlock .row .tablet-4 { width: 64.5833333333333333%; }
  .gridlock .row .tablet-5 { width: 81.25%; }
  .gridlock .row .tablet-6 { width: 97.9166666666666667%; }

  .prod-first{margin-left:0 !important;}

  /* Push Cells */
  .gridlock .row .tablet-push-1 { margin-left: 17.7083333333333333%; }
  .gridlock .row .tablet-push-2 { margin-left: 34.375%; }
  .gridlock .row .tablet-push-3 { margin-left: 51.0416666666666667%; }
  .gridlock .row .tablet-push-4 { margin-left: 67.7083333333334%; }
  .gridlock .row .tablet-push-5 { margin-left: 84.375%; }

  /* !Generic, fractions */
  .gridlock .row .tablet-third { width: 31.25%; }
  .gridlock .row .tablet-half { width: 47.9166666666666667%; }
  .gridlock .row .tablet-full { width: 97.9166666666666667%; }

  .gridlock .row .tablet-push-third { margin-left: 34.375%; }
  .gridlock .row .tablet-push-half { margin-left: 51.0416666666666667%; }

  .gridlock .row .contained.tablet-1 {
    width: 16.66666667%;
  }
  .gridlock .row .contained.tablet-2 {
    width: 33.33333333%;
  }
  .gridlock .row .contained.tablet-3 {
    width: 50%;
  }
  .gridlock .row .contained.tablet-4 {
    width: 66.66666667%;
  }
  .gridlock .row .contained.tablet-5 {
    width: 83.33333333%;
  }
  .gridlock .row .contained.tablet-6 {
    width: 100%;
  }


}
/* !Mobile, 3 column, 300 + 480 (max 740) */
@media screen and (max-width: 770px) {

  .gridlock .row [class*="desktop-push-"],
  .gridlock .row [class*="tablet-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

  .prod-first{margin-left:0 !important;}

  .gridlock .row .mobile-1 { width: 31.25%; }
  .gridlock .row .mobile-2 { width: 64.5833333333333333%; }
  .gridlock .row .mobile-3 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .mobile-push-1 { margin-left: 34.375%; }
  .gridlock .row .mobile-push-2 { margin-left: 67.7083333333334%; }

  /* !Generic, fractions */
  .gridlock .row .mobile-third { width: 31.25%; }
  .gridlock .row .mobile-half { width: 47.9166666666666667%; }
  .gridlock .row .mobile-full { width: 97.9166666666666667%; }

  .gridlock .row .mobile-push-third { margin-left: 34.375%; }
  .gridlock .row .mobile-push-half { margin-left: 51.0416666666666667%; }

  .gridlock .row .contained.mobile-1 {
    width: 33.33333333%;
  }
  .gridlock .row .contained.mobile-2 {
    width: 66.66666667%;
  }
  .gridlock .row .contained.mobile-3 {
    width: 100%;
  }
  .gridlock .row .contained.mobile-none {
    dispay: none;
  }
  #logo img{
    max-width: 180px !important;
  }

}

/* !Mobile - Min, 300 (max 500) */
@media screen and (max-width: 500px) {
  .gridlock .row .min-full { width: 97.9166666666666667%; }
}

.gridlock .row [class*="all-"].contained,
.gridlock .row [class*="min-"].contained,
.gridlock .row [class*="mobile-"].contained,
.gridlock .row [class*="tablet-"].contained,
.gridlock .row [class*="desktop-"].contained,
.gridlock .row [class*="max-"].contained {
  margin-left: 0;
  margin-right: 0;
}

* {margin:0;}

.gridlock {
  height:100vh;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  color:#4c4b4b;
}
.scrollable-nav {
  overflow: scroll;
  width:100%;
  padding:0;

  height:100vh;
}
.scrollable-nav li {
  list-style-type:none;
  display:flex;
  align-items:center;
  height:100px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-left:20%;
}
.scrollable-nav li strong {
  font-weight: 700;
}
.scrollable-nav li p {
  opacity:0.5;
  margin-top:5px;
}
.scrollable-nav .active {
  background-color:rgba(122, 55, 183, 0.2);
  border-bottom: 1px solid rgba(0,0,0,0)
}
.nav-container {
  border-right: 1px solid rgba(0,0,0,0.1);
  margin: 0 !important;
  width:25%;
  float:left;
}
.editor-container {
  float:left;
  width:75%;
}
.content-editor {
  width: 100%;
  border: none;
  height: 90vh;
  font-size: 14px;
  padding:20px;
  padding-left: 60px;
  padding-right:60px;
  color:#4c4b4b;
}
*:focus {
  outline: none;
}
.title-editor {
  height: 5vh;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color:#4c4b4b;
}
.options-bar {
  height: 5vh;
  width:100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.options-bar .delete {
  float:left;
  margin-left:1.5%;
  height: 5vh;
  display:flex;
  align-items:center;
  -webkit-align-items: center;
}
.options-bar .delete img {
  max-width:25px;
}
.options-bar .date {
  float:right;
  margin-right:5%;
  height: 5vh;
  display:flex;
  align-items: center;
  -webkit-align-items: center;
}

.search-container {
  height:5vh;
  display:flex;
  align-items:center;
  -webkit-align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.search-container input {
  width: 70%;
  margin-left: 10%;
  line-height: 22px;
  font-size: 16px;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid rgba(122, 55, 183, 0.7);
  border-radius: 10px;
  color: #4c4b4b;
}
.search-container button {
  color: rgba(122, 55, 183, 0.7);
  border: none;
  background: none;
  font-size:30px;
  line-height:30px;
  margin-left:10%;
}